@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized Context="authContext">
                    @if (!(authContext.User?.Identity?.IsAuthenticated ?? false))
                    {
                        <!-- Якщо користувач неавторизований -->
                        <RedirectToLogin />
                    }
                    else
                    {
                        <!-- Якщо авторизований, але не має потрібних прав/ролей -->
                        <p>У Вас немає прав доступу до цієї сторінки.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Сторінку не знайдено.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
